<!DOCTYPE html>
<html>
<head>

<title>Riwayat</title>

<link rel="stylesheet"
href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

<div class="header">
RIWAYAT TRANSAKSI
</div>

<div class="container">

<div class="total">

<table width="100%" border="1" cellpadding="10">

<tr>
<th>ID</th>
<th>Tanggal</th>
<th>Total</th>
</tr>

{% for row in data %}

<tr>

<td>{{ row[0] }}</td>
<td>{{ row[1] }}</td>
<td>Rp {{ row[2] }}</td>

</tr>

{% endfor %}

</table>

<br>

<a href="/">
<button>
KEMBALI
</button>
</a>

</div>

</div>

</body>
</html>